div{
    background-color: wheat;
}
#dong1{
    color:green;
}
#dong2{
    text-align: center;
}
#dong3{
    text-transform: uppercase;
}
#dong4{
    font-size: 30px;
}
#dong5{
    font-weight: bold;
}
